.Pagination {
  margin: 50px;
  font-family: sans-serif;

  &__nav {
    display: flex;
    justify-content: center;

    &-btn {
      box-shadow: 0px 0px 1px black;            
      padding: 10px;
      margin: 2px;
      cursor: pointer;

      &--active {
        background: #2e859e;
        box-shadow: 0px 0px 1px#2e859e;              
        color: #fff;
      }
    }
  }
}