.Main {
  
  &__list { 
    padding: 0;
    margin: 2% 0 0 0;
    list-style: none;
    text-align: center;
  }

  &__item {
    display: inline-block;
    margin: 10px 10px 30px 10px;
    padding: 10px;
    height: 300px;
    width: 200px;
    font-family: sans-serif;
    text-align: left;
    cursor: pointer;
    vertical-align: top;;
    line-height: 20px;

    &-poster {
      position: relative;
      border: 5px solid #f5f5f5;
      height: 250px;
      background-size: 100%;     
      overflow: hidden;            

      &:hover &-snippet-block-hide {
        visibility: visible;       
        opacity: 1; 
      }
      &:hover &-img {
        filter: blur(11px);
      }

      &-snippet-block-hide {
        display: flex;
        justify-content: center;
        flex-direction: column;                        
        visibility: hidden;        
        position: absolute;
        top: 0;
        left: 0;
        width: 110%;
        height: 100%;               
        color: #fff;
        opacity: 0;
        transition: .5s;
      }

      &-snippet { 
        overflow: hidden;
        height: 41%;
        width: 50%;
        margin: auto;
        text-shadow: 0px 0px 5px black;        
        font-size: 16px; 
        font-weight: 100;
      }

      &-img {
        transition: .3s;
        width: 100%;
        height: 100%;
      }
    }

    &-title {
      margin-top: 10px;
      font-size: 20px;
      font-weight: 100;
      color: #2e859e;
    }
    &-year {
      font-weight: 100;
      color: #777
    }
  }
  &__no-items-error {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 100;
  }
}