body {
  background: url('https://assets.nflxext.com/ffe/siteui/vlv3/19c5687f-abad-4467-919f-218c4f171ab3/9ecc5671-87d2-4bec-ba85-1dcf7c3833db/UA-en-20190225-popsignuptwoweeks-perspective_alpha_website_large.jpg');
}
.container {
  background: #fff;
  overflow: hidden;
  margin: 5% auto;
  width: 85%;
}